<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color: #636464">
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="https://cdn.pixabay.com/photo/2013/07/12/18/41/boots-153705_960_720.png" width="50px" height="50px">
            <a class="navbar-brand" href="/">Wycieczki</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/Wycieczki/ListaWycieczek}">Lista Wycieczek</a></li>
            </div>
            <div class="nav navbar-nav ml-auto">
                <a sec:authorize="isAnonymous()" class="nav-item nav-link" href="/signUp"><span class="glyphicon glyphicon-użytkownik"></span> Zarejestruj</a></li>
                <a sec:authorize="isAnonymous()" class="nav-item nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/logout"><span class="glyphicon glyphicon-log-in"></span> Wyloguj</a></li>
            </div>

        </nav>
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="span12">
                <p th:if="${error}" class="error">Błędne dane</p>
                <form action="/signUp" method="post" th:object="${uzytkownik}">
                    <fieldset>
                        <div id="legend">
                            <legend class="">Rejestracja</legend>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Username</label>
                            <div class="controls">
                                <input class="form-control" th:field="${uzytkownik.login}" type="text" placeholder="Login"> <br/>
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Password-->
                            <label class="control-label">Password</label>
                            <div class="controls">
                                <input class="form-control" th:field="${uzytkownik.haslo}" type="password" placeholder="Hasło"> <br/>
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
<footer>
    <p style="text-align: center">Pozdrawiam i polecam, Jakub Korytek</p>
</footer>
</html>